// VARIABLES EXAMPLE //

// Color Scheme //

//First Color Scheme
//$white: #FFF;

// Second Color Scheme //
//$carmine-pink: #E94F37;


// TYPOGRAPHY//
//$playfair: 'Playfair Display', serif;

// FONT WEIGHT //
//$regular: 400;
//$bold: 700;

// FONT SIZE //
//$xxxx-large: 130px;
//$xxx-large: 100px;
//$xx-large: 30px;
//$x-large: 20px;
//$large: 18px;
//$medium: 16px;
//$small: 14px;
//$x-small: 12px;

//----------------------------//

// Color Scheme //

//First color scheme
$white: #FFF;
$semi-white:#f2f4f5;

//Second color scheme
$fuzzy-wuzzy: #E56353;
$spanish-pink: #ecbcba;

//Third color scheme
$eerie-black: #121619;
$raisin-black:#222323;
$nickel: #6C6E70;
$gray: #f2f4f5;

//Fourth color scheme
$steel-blue: #4682b4;



// TYPOGRAPHY//

//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$xxx-large: .3.125rem;
$xx-large: 1.875rem;
$x-large: 1.25rem;
$large: 1.125rem;
$medium: 1rem;
$small: 0.875rem;
$x-small: 0.75rem;

// Font Weight
$regular: 400;
$bold: 700;
$font-light: 300;
